



   



        <ul class="mr-5 ml-n5" style="display: block; list-style-type:none;">
            <li>
                @Html.ActionLink("Home", "Index", "Home") 
                <br />
                <br />

            </li>
          

            <li>

                @Html.ActionLink("Sales", "Index", "Sales")
                <br />
                <br />

            </li>
            <li>
                @Html.ActionLink("Shop all", "Index", "ShopAll")
                <br />
                <br />

            </li>
            <li>
                @Html.ActionLink("Skincare", "Index", "SkinCare")
                <br />
                <br />
            </li>
            <li>

                @Html.ActionLink("Makeup", "Index", "MakeUp")
                <br />
                <br />




            </li>




            <li>

                @Html.ActionLink("Nails", "Index", "Nails")
                <br />
                <br />
            </li>
            <li>
                @Html.ActionLink("Hair", "Index", "Hair")
                <br />
                <br />
            </li>


        </ul>


   


